$navy: #001e38;
$green: #15b78f;
$secondary : rgb(243, 243, 51);
$show-home-image: true;
$home-image: url(/dist/img/background.jpg);
$backgound-opacity: 0.79;
$project-background: rgb(194, 35, 194);


