$navy: #001e38;
$green: #393d3a;
$primary: #fff;
$secondary: rgb(243, 243, 51);
$wave: #0099ff;
$show-home-image: true;
$home-image: url('../images/background.jpg');
$background-opacity: 0.2;
$project-background: lighten($green, 0.4%);

@mixin h1() {
  color: lighten($navy, 10%);
  font-weight: bold;
  font-size: 3.5rem;
}
