@import 'config';
@import 'about';
@import 'project';
@import 'modal';
@import 'resume';
@import 'header';
@import 'progress';

* {
  box-sizing: border-box;
}

.background {
  background: url("../images/background.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.full-content {
  
}


.full-background {
  position: relative;
}

h1 {
  color: $green;
  font-weight: bold;
  font-size: 3.5rem;

  &:after {
    content: '👋';
    display: inline-block;
    transform: rotate(-20deg);
    animation: wave 0.75s infinite linear alternate;
  }
}
nav {
  width: 100%;
  background: $wave;
  a {
    color: lighten($secondary, 10%);
  }

  @media (max-width: 34em) {
    background: black !important;
  }
  .nav-toggler {
    cursor: pointer;
    outline: 0;
  }

  .nav-link {
    text-transform: uppercase;
    font-weight: bold;
  }
}
.middle-content {
  background: $wave;
  font-weight: bold;
  font-size: 1.6rem;
  min-height: auto;
  border-bottom: 5px solid $secondary;
}
.content {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  .low-margin {
    margin-bottom: 3rem;
  }

  h1 {
    color: lighten($green, 10%);
    font-weight: bold;
    font-size: 3.5rem;

    &:after {
      content: '👋';
      display: inline-flex;
      transform: rotate(-20deg);
      animation: wave 0.75s infinite linear alternate;
    }
  }

  .secondary-name {
    color: $secondary;
  }
  .hero-icons {
    margin-top: 1rem;

    a {
      padding: 2rem;
      color: $secondary;
      &:hover {
        background-color: lighten($green, 20%);
        transform: translate(20deg);
      }
    }
  }
}
//heading
h2 {
  &.sm-heading {
    color: $green;
    font-size: 2rem;
    margin-bottom: 7rem;
    padding: 0.2rem 1rem;
    background: lighten($navy, 2);
  }
}

.footer-content {
  margin-top: 20px;
  color: $green;
  height: 50vh;
  font-weight: bold;
  font-size: 3.5rem;
  letter-spacing: 2px;

  .footer-button {
    width: 40%;
    font-size: 18px;
    cursor: pointer;
    background: $green;
    color: $navy;

    &:focus {
      background: $green;
      color: $navy;
    }
  }
  .form-control {
    border: 3px solid $green;
    background: #1111;
    &:focus {
      border: 3px solid $green;
    }
  }
  input {
    background: #1111;
    &:focus {
      color: inherit;
      background: #1111;
    }
  }
}

@keyframes wave {
  100% {
    transform: rotate(20deg);
  }
}
