.progress-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 8px;
    text-align: center;
}

.progress-title{
    font-size: 18px;
    font-weight: 700;
    color: #000;
    margin: 0 0 30px;
    }
    .progress{
    height: 7px;
    background: #f8f8f8;
    border-radius: 0;
    box-shadow: none;
    margin:  12px 30px;
    overflow: visible;
    position: relative;
    }
    .progress .progress-bar{
    border: 1px solid #000;
    border-radius: 0;
    box-shadow: none;
    position: relative;
    animation: animate-positive 2s;
    }

    .progress .progress-bar:after{
   
    }
    .progress.red .progress-bar:after{
    background: #f80a0a;
    outline: 2px solid #f80a0a;
    }
    .progress.yellow .progress-bar:after{
    background: #f9d700;
    outline: 2px solid #f9d700;
    }
    .progress.blue .progress-bar:after{
    background: #0698ff;
    outline: 2px solid #0698ff;
    }
    @-webkit-keyframes animate-positive{
    0% { width: 0; }
    }
    @keyframes animate-positive{
    0% { width: 0; }
    }