.project-wrapper {
  width: 100vw;
  height: 50vh;
  background: $wave;
  z-index: 3;

  .project-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    padding: 0 10vw;

    h1 {
      color: lighten($navy, 10%);
      font-weight: bold;
      font-size: 3.5rem;

      &:after {
        content: '👇';
        display: inline-flex;
        transform: rotate(-20deg);
        animation: wave 0.75s infinite linear alternate;
      }
    }
    

    @media (max-width: 780px) {
      padding: 5vh 5vw;
      h1 {
        color: lighten($navy, 10%);
        font-weight: bold;
        font-size: 2rem;

        &:after {
          content: '👇';
          display: inline-flex;
          transform: rotate(-20deg);
          animation: wave 0.75s infinite linear alternate;
        }
      }
    }
  }
}
