.project-wrapper {
  width: 100vw;
  height: 58vh;
  background: $wave;
  z-index: 3;
  @media (max-width: 992px) {
    height: 48vh;
  }

  .project-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    padding: 0 10vw;

    h1 {
      color: lighten($primary, 10%);
      font-weight: bold;
      font-size: 3.5rem;
    }

    @media (max-width: 992px) {
      h1 {
        color: lighten($primary, 10%);
        font-weight: bold;
        font-size: 2rem;
      }
    }
  }
}


.project-header {
  font-family: monospace;
  text-align: center;
  font-weight: bolder;
  font-size: 3.5rem;
  color: lighten($navy, 10%);
}

.rating {
  float: right;
}